body{
    margin: auto;
    padding: 0px;
    background-color: aquamarine;
    text-align: center;
}
.Stopwatch{
word-spacing: 20px;
margin-top: 120px;
font-weight: 100;
}
h1{
    background-color: blue;
}
p{
    margin-top: 125px;
    font-size: 30px;
    font
}